h1,h2,h3,h4,h5,h6,p,a {
    color: white;
}

p {
    font-size: larger;
}

body {
    background-image: url(images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}